<!-- we'll be injecting this templates content to our boilerplate -->
<!-- this function is from ejs-mate -->
<!-- so this function is looking for everything in this template to pass that through as body to our boilerplate -->

<% layout('layouts/boilerplate') %> 
 <div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <!-- post request to submit  new  campground data  -->
    <!-- name-the name with which our data will be send to the servers  -->
    <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
        <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id-"title" name="campground[title]" value="<%= campground.title%>" required>
                <div class="valid-feedback">
                    Nicee!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input  class="form-control" type="text" id-"location" name="campground[location]" value="<%=campground.location%>"  required>
                <div class="valid-feedback">
                    Nicee!
                </div>
            </div>
            <!-- was file upload -->
            <!-- <div class="mb-3">
                <label class="form-label" for="image">Add Images</label>
                <input type="file" name="image" id="image" multiple> -->
                <!-- this name should match to the thing we told multer to look for -->
            <!-- </div> -->
            <div class="mb-3">
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" name="campground[price]"  value="<%=campground.price%>" aria-label="price" aria-describedby="price-label"  required>
                    <div class="valid-feedback">
                        Nicee!
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea  class="form-control" type="text" id-"description" name="campground[description]"  required><%=campground.description  %> </textarea>
                <div class="valid-feedback">
                    Nicee!
                </div>
            </div>
             <!-- file upload -->
             <label for="">Add More Images</label>
            <div class="input-group mb-3">
                <input type="file" class="form-control" name="image" id="image" multiple>
                <!-- <label class="input-group-text" for="image">Upload</label> -->
              </div>
              <!-- delete images form -->
              <div class="mb-3">
                     <% campground.images.forEach((img,i) =>{ %> <!-- image i.e first element and the index of each element -->
                     <!-- rendering an image for each element of images array and they are each individual images -->
                        <img src="<%=img.url%>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                            <!-- value is what we'll use to delete the image from server side i.e using filename to actually delete file from cloudinary -->
                        </div>
                        <!-- for and is used to associate a particular image  label with checkbox -->
                        <label for="image-<%=i%>">??Delete</label>
                    <% })  %>  
              </div>
            <div class="mb-3">
                <button class="btn btn-success">Update Campground</button>
            </div>
            
         </form>
        <a href="/campgrounds/<%=campground._id %> ">Back To Campground</a>
        
    </div>
</div>
